# Node modules
**/node_modules/
frontend/node_modules/
backend/node_modules
 
# Logs
logs
*.log
npm-debug.log*

# Environment variables
 .env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
**/dist/
**/build/
backend/dist

# Temporary files
.DS_Store
Thumbs.db
*.tmp